<!-- Common header for all pages -->
<div class="header">
    <div class="logo-container">
        <a href="/index.html">
            <img src="/assets/icons/favicon.png" alt="favicon" width="50" height="50" class="main-icon">
            <img src="/assets/icons/cool.png" alt="cool icon" width="50" height="50" class="hover-icon">
        </a>
    </div>
    <h1><a href="/index.html" class="site-title">Internet Rules</a></h1>
    <img src="/assets/icons/moon.png" alt="moon" class="moon-icon" id="darkModeToggle">
</div> 